.notification-container {
  border: 1px solid #e5e5e5;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  width: 40%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.content {
  display: flex;
}

@media screen and (max-width: 767px) {
  .notification-container {
    width: 80%;
  }
  .content {
    margin-right: 20px;
  }
}
